<!-- dreamBlock.handlebars -->

<!-- This partial represents a single dream block -->
<div class="position-relative">
    <div class="dream-block">
    <!-- Title of the dream -->
        <h3 class="text-uppercase text-justify">{{title}}</h3>

    <!-- Description of the dream -->
        <p  class="font-weight-medium text-justify">{{description}}</p>

    <!-- User who posted the dream -->
        <p>Posted by: {{User.username}}</p>
             {{#if userIsOwner}}
        <!-- Edit button (only shown if the dream belongs to the logged-in user) -->
            <button class="btn btn-primary" onclick="location.href='/dreams/edit/{{id}}'">Edit</button>

        <!-- Delete button (only shown if the dream belongs to the logged-in user) -->
            <button class="delete-btn btn btn-primary" data-dream-id="{{id}}">Delete</button>
    {{/if}}
    </div>
</div>