<!-- dreamBlock.handlebars -->

<!-- This partial represents a single dream block -->
<div class="dream-block">
    <!-- Title of the dream -->
    <h3>{{title}}</h3>

    <!-- Description of the dream -->
    <p>{{description}}</p>

    <!-- User who posted the dream -->
    <p>Posted by: {{User.username}}</p>
    {{#if userIsOwner}}
        <!-- Edit button (only shown if the dream belongs to the logged-in user) -->
        <button onclick="location.href='/dreams/edit/{{id}}'">Edit</button>

        <!-- Delete button (only shown if the dream belongs to the logged-in user) -->
        <button onclick="location.href='/api/dreams/delete/{{id}}'">Delete</button>
    {{/if}}
</div>
